# Created by .ignore support plugin (hsz.mobi)
/docs/bootstrapDist/
*.xml
*.iml
/node_modules/
/docs/.sass-cache/
*.xml
.idea/vcs.xml
.idea/vcs.xml
/docs/img/icons/
/docs/scss/components/_form.scss
/docs/slick/
*.scssc
