// ======================================
//  Containers
// ======================================
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color--bg;
}

.gallery {
  flex: 1;
}
