// ======================================
//  Containers
// ======================================
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color--bg;
}
.jumbotron {
  //background: no-repeat url("../img/photos/beach.jpg");
  padding-top:em(50px);
  @include e("title") {
    font-size: $font-size--lg;
  }
  .title--color {
    color: $color--sec;
  }
  @include e("lead") {
    font-size: $font-size;
  }

}
.row {
  border: 1px solid black;

}
