// ======================================
//  Containers
// ======================================
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color--bg;
}
.about {
  //background: no-repeat url("../img/photos/beach.jpg");
  text-align: center;
  padding-top:em(60px);
  @include e("title") {
    font-size: $font-size--lg;
  }
  .title--color {
    color: $color--sec;
  }
}
.lead {
  font-size: $font-size;
  margin: em(5px) 0;
}
.row {
  border: 1px solid black;
}
aside {
  margin: auto;
  width:90%;
}
