// ======================================
//  Header
// ======================================
header{
  text-align: center;
  display:flex;
  flex-direction: column;
};
// Nav
.nav {
  position: fixed;
  display: flex;
  width:100%;
  z-index: 100;
  background-color: darken(rgba($color--bg, .5), 25%);
  justify-content: space-around;
  padding: em(10px) 0 0;
  @include e("item"){
    width:20%;
  }
}
.nav a {
  transition: transform $trns-duration ease;
  border-radius: $br--round;
  padding: em(5px);
  &:hover {
    transform: scale(1.2);
  }
}
