// ======================================
//  Images/Icons
// ======================================
img {
  width: 100%;
}

.icon {
  width:$icon--sm;
  height: $icon--sm;
  @include m("profile"){
    width:$icon--lg;
    height: $icon--lg;
    border-radius: $br--round;
    @include mq('tablet'){
      width:$icon--xlg;
      height: $icon--xlg;
    }
  }
}
.path {
  fill: $white;
  transition:fill 0.3s;
}
a:hover .path {
  //fill: $color--sec;
  fill: $color--sec;
}
