// ======================================
//  Portfolio
// ======================================

#portfolio {
  background-color: $color--bg--light;
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding:em(5px) 0;
  margin: em(25px) 0;
  border-radius: $br--default;
  box-shadow: 0 0 45px rgba(0,0,0,.8);
  @include mq("tablet"){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}

.project {
  @extend %project;
  @include m("1"){
    background-image: url("../img/projects/project-1.jpg");
  }
  @include m("2"){
    background-image: url("../img/projects/project-2.jpg");
  }
  @include m("3"){
    background-image: url("../img/projects/project-3.jpg");
  }
  @include m("4"){
    background-image: url("../img/projects/project-4.jpg");
  }
  @include m("5"){
    background-image: url("../img/projects/project-5.jpg");
  }
  @include m("6"){
    background-image: url("../img/projects/project-6.jpg");
  }
  @include e("overlay"){
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    background-color: $mine-shaft;
    padding: em(8px);
    text-align: center;
  }
}

.project__overlay .list {
  justify-content: center;
  font-size: $font-size--sm;
  margin-left:em(15px);
  @include e("item") {
    margin:em(5px);
  }
}
.overlay__buttons {
  margin: em(5px);
}
.overlay__button {
  @extend %btn;
}
.project__img,
.project__overlay {
  transition: transform 0.6s ease-out;
}

.project:hover .project__overlay {
  transform: translateX(0);
}
