// ======================================
//  Footer
// ======================================
.footer {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  text-align: center;
  padding: em(10px);
  margin-top: em(20px);
  @include mq("desktop") {
    font-size: $font-size--lg;
  }
}