// ==========================================================================
// Extends
// ==========================================================================
%link {
  color: $color--link-default;
  text-decoration: none;
}
// Buttons
%btn {
  background-color: $button--active;
  padding: em(7px) em(13px);
  margin: em(10px);
  border: 0;
  border-radius : $br--default;
  color: $white;
  font-size : $font-size--sm;
  font-weight: $font-weight--bold;
  transition: background-color $trns-duration;
  &:hover {
    background-color: darken(black,10%);
    color: $color--prim;
  }
  &:active {
    opacity: initial;
    padding: em(6px) em(13px) em(8px);
  }
}