// ==========================================================================
// Global variables
// ==========================================================================

// Font-stacks
$font-url--google        : "https://fonts.googleapis.com/css?family=Cormorant:300,400,700";
$font-family--primary    : 'Cormorant', Helvetica, Arial, sans-serif;
// Font Weights

$font-weight--light     : 300;
$font-weight--regular   : 400;
$font-weight--bold      : 700;

// Text
$font-size--xsm : 13px;
$font-size--sm  : 15px;
$font-size--md  : 16px;
$font-size--lg  : 26px;
$font-size--xlg : 36px;


//Colors
// Descriptive color variables
$white          : #fff;
$light-gold     : lighten(gold,35%);
$black          : #000;


$shuttle-gray        : #676B75;
$charade             : #262A33;
$mine-shaft          : #292929;
$alabaster           : #FBFBFB;
$black-squeeze       : #EBF4F7;
$valencia               : #D84348;

$button--active       : lighten($valencia,10%);
$button--default      : $valencia;

// Functional color variables
$color--prim         : $white;
$color--sec          : $valencia;
$color--input        : $alabaster;

$color--bg           : $shuttle-gray;
$color--bg--light    : $alabaster;
$color--bg--dark     : $mine-shaft;


$color--link-default : $white;

// Icon size
$icon--sm : 25px;
$icon--md : 40px;
$icon--lg : 150px;
$icon--xlg : 250px;

// Border radius

$br--default    : 0.4em;
$br--round    : 50%;

// Transitions

$trns-duration  : .5s;

//Breakpoints
$brkpoint--xs    : 420px;
$brkpoint--sm    : 576px;
$brkpoint--md    : 768px;
$brkpoint--lg    : 962px;
$brkpoint--xl   : 1200px;


