// ==========================================================================
// Global variables
// ==========================================================================

// Font-stacks
$font-url--google        : "https://fonts.googleapis.com/css?family=Cormorant:300,400,700";
$font-family--primary    : 'Cormorant', Helvetica, Arial, sans-serif;
// Font Weights

$font-weight--light     : 300;
$font-weight--regular   : 400;
$font-weight--bold      : 700;

// Text
$font-size--xsm : 10px;
$font-size--sm  : 12px;
$font-size      : 16px;
$font-size--lg  : 36px;


//Colors
// Descriptive color variables
$white          : #fff;
$light-gold     : lighten(gold,35%);
$black          : #000;


$shuttle-gray        : #676B75;
$charade             : #262A33;
$alabaster           : #FBFBFB;
$black-squeeze       : #EBF4F7;
$froly               : #F27173;

$button--active: $froly;
$button--default : $froly;

// Functional color variables
$color--prim         : $white;
$color--sec          : $froly;
$color--input        : $alabaster;
$color--bg           : $shuttle-gray;
$color--bg--light    : darken($alabaster, 15%);


$color--link-default : $white;

// Icon size
$icon--sm : 25px;
$icon--md : 40px;

// Border radius

$br--default    : 0.4em;
$br--round    : 50%;

// Transitions

$trns-duration  : .5s;

//Breakpoints
$brkpoint--xs    : 420px;
$brkpoint--sm    : 576px;
$brkpoint--md    : 768px;
$brkpoint--lg    : 962px;
$brkpoint--xl   : 1200px;


