// ==========================================================================
// Base
// ==========================================================================
// The universal selector (*)
* {
  box-sizing: border-box;
}
body {
  font-size: $font-size--md;
  font-family: $font-family--primary;
  color: $color--prim;
}

h1,
h2,
h3,
p {
  margin:0;
}
a {
  text-decoration: none;
  color:$color--prim;
}
a:hover {
  color: $color--sec;
}