// ==========================================================================
// Base
// ==========================================================================

.title {
  @extend %title;
  @include e("color") {
    color: $color--sec;
  }
  @include m("")
}

.desc {
  font-size: $font-size;
  margin: em(10px) 0;
}