// ==========================================================================
// Base
// ==========================================================================

.title {
  @extend %title;
  //color: $light-gold;
  color: $valencia;
  @include e("color") {
    color: $color--sec;
  }
}

.desc {
  font-size: $font-size--md;
  margin: em(10px) 0 em(30px) 0;
  @include mq("tablet") {
    font-size: 20px;
  }
  @include mq("desktop") {
    font-size: $font-size--lg;
  }
}

// Intro
.intro__description .intro__desc {
  font-size:20px;
  @include mq("tablet") {
    font-size: $font-size--lg;
    margin-right: 25px;
  }
}